*{
	font-family: "helvetica";
}

main{
	margin: 20px;
}
nav{
	background-color: black;
	color: white;
	padding: 20px;
	margin: -8px;
}
button{
	border: grey;
	border-bottom: 3px;
	border-style: solid;
	border-radius: 10px;
}
button:focus{
	color: grey;
}

button:hover{
	color: grey;
}

button:active{
	color: grey;
}
fieldset{
	border-color: black;
	border-radius: 10px;
	box-shadow: -5px 5px darkorange;
}
ul{
	display: table;
	margin:  0 auto;

}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}